body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    background-image: url('https://4kwallpapers.com/images/wallpapers/polygons-geometric-blur-background-connected-dots-3840x2160-1740.jpg'); 
      background-size: cover;
      background-position: center;
      color: #fff;
      padding: 20px 0;
      text-align: center;
      height: 25vh; /* Set the height to 25% of the viewport height */
      display: flex;
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
      margin-top: -8px;
      margin-left: -8px;
      margin-right: -8px;
      margin-bottom: 50px;
  }

  header h1 {
    margin: 0;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }

  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s, transform 0.3s; /* Adding transition effect */
  }
  
  .card-header {
    background-color: #4CAF50;
    color: #fff;
    padding: 15px;
    text-align: center;
  }

  .card-body {
    padding: 20px;
  }

  .card-body p {
    color: #333;
    margin-bottom: 10px;
  }

  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }