<header>
    <h1>About Me</h1>
</header>

<section>
    <h2>Hello, I'm Kristoffer Lacson!</h2>
    <p>
        Welcome to my aesthetically curated corner. I'm a student  with a passion for Web Designing. When not immersed in Web Development, you can find me enjoying Anime, Manga and Basketball.
    </p>

    <h3>Quick Facts</h3>
    <ul>
        <li><strong>Hobbies:</strong> Watching Anime</li>
        <li><strong>Favorite Quote:</strong> "When life gives you lemon, make a lemonade"</li>
        <li><strong>Contact:</strong> lacsontoff!gmail.com</li>
    </ul>

</section>